*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
.box{
    width: 300px;
    background-color: white;
    border-radius: 7px;
    margin-left: 33%;
    margin-top: 2%;
}
.image{
    padding: 5px;
}
.image img{
    border-radius: 7px;
}
.capsules{
    padding: 5px;
}
.capsules span{
    border: 2px solid rgba(128, 128, 128, 0.856);
    border-radius: 7px;
    padding: 2px;
}
.content{
    padding: 5px;
}
.content p{
    font-size: 10px;
    color: gray;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.bttn{
    text-align: center;
    padding: 20px;
}
.bttn button{
    background-color: rgb(114, 214, 245);
    border-radius: 7px;
    padding: 3px;
    color: rgb(9, 42, 102);
    font-weight: bold;
    cursor: grab;
}
.bttn button:hover{
    background-color: aquamarine;
    color: rgb(68, 68, 16);
}