*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 10vh;
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: antiquewhite;

}
.navbar ul li a{
    color: antiquewhite;
    text-decoration: none;
}
.navbar ul li{
    display: inline-block;
    margin: 10px;
}
.left{
    height: 82vh;
    width: 50%;
    display: inline-block;
    background-color: red;
    /* display: none; */
    /* visibility: hidden; */
}
.right{
    height: 82vh;
    width: 50%;
    display: inline-block;
    background-color: rgb(0, 255, 42);
}

footer{
    background-color: aquamarine;
    height: 8vh;
    font-family: Trochut,cursive;
    font-weight: bolder;
    padding: 20px;
    text-transform: uppercase;
}
.center{
    text-align: center;
}