*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: aquamarine;
    position: sticky;
    top: 0px;
    overflow: hidden;
    width: 100vw;
    z-index: -1;
}
nav ul li{
    display: inline-block;
    font-size: 6vh;
    padding-right: 5vw;
    padding-left: 5vw;
    
}
.container{
    height: 210vh;
    width: 100vw;
    background-color: cadetblue;
}

.listtypeeg{
    padding: 10px;
    background-color: aquamarine;

}
.listtypeeg ul li{
    list-style: circle inside;
}